.homez {

    display: flex;
    justify-content: flex-end;
    font-size: 23px;
    position: relative;
    
  }
  
  .mr {
    display: inline-block;
    margin-right: auto;
    margin-left: 10px; 
  }
  
  .contact {
    
    display: inline-block;
    margin-left: auto;
    margin-left: 10px;
  }
  

  
  .logo img {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 10px;
    width: 140px;
    height: 140px;
    
  }

  

  